<h1>Listing notes</h1>

<div id="search">
  <%= form_tag(search_notes_path, :method => "get") do %>
   <%= text_field_tag(:keywords, @keywords) %>
   <%= submit_tag "Search", :class => "btn" %>
  <% end %>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @notes %>
</table>

<%= will_paginate @notes %>
<br/>

<%= link_to 'New Note', new_note_path, :class => "btn" %>